<img class="img-fluid my-4" src="https://www.img.in.th/images/f51cb0bb2c44fe6ff0200152edde8e61.png" alt="">

<mat-nav-list dense>
  <a mat-list-item href="#">
    <span mat-line><span class="mat-h4">ขยายเขต</span></span>
    <img matListAvatar src="https://cdn-icons.flaticon.com/png/512/2804/premium/2804010.png?token=exp=1653758733~hmac=925368bab1bfed0ba58594f961a818f1" alt="">
  </a>
  <a mat-list-item href="#">
    <span mat-line><span class="mat-h4">มิเตอร์</span></span>
    <img matListAvatar src="https://cdn-icons-png.flaticon.com/512/7291/7291189.png" alt="">
  </a>
  <mat-divider class="mt-4"></mat-divider>
  <h3 matSubheader>Customer</h3>
  <a mat-list-item href="#">
    <span mat-line><span class="mat-h4">ติดตามงาน</span></span>
    <img matListAvatar src="https://cdn-icons-png.flaticon.com/512/7082/7082637.png" alt="">
  </a>
</mat-nav-list>
