<img class="img-fluid my-4" src="https://www.img.in.th/images/f51cb0bb2c44fe6ff0200152edde8e61.png" alt="">
<mat-divider class="my-2"></mat-divider>
<mat-nav-list dense>
  <a mat-list-item href="#">
    <span mat-line><span class="mat-h4">ขยายเขต</span></span>
    <img matListAvatar src="https://cdn-icons-png.flaticon.com/512/5986/5986363.png" alt="">
  </a>
  <a mat-list-item href="#">
    <span mat-line><span class="mat-h4">มิเตอร์</span></span>
    <img matListAvatar src="https://cdn-icons.flaticon.com/png/512/2656/premium/2656089.png?token=exp=1653918372~hmac=671b596b266f04086622a45f94e8b6ab" alt="">
  </a>
  <a mat-list-item href="#">
    <span mat-line><span class="mat-h4">ธุรกิจเสริม</span></span>
    <img matListAvatar src="https://cdn-icons.flaticon.com/png/512/3281/premium/3281412.png?token=exp=1653923283~hmac=94f13896784b7c97555b3e686adc7084" alt="">
  </a>
  <mat-divider class="mt-4"></mat-divider>
  <h3 matSubheader>Customer</h3>
  <a mat-list-item href="#">
    <span mat-line><span class="mat-h4">ติดตามงาน</span></span>
    <img matListAvatar src="https://cdn-icons-png.flaticon.com/512/762/762686.png" alt="">
  </a>
  <a mat-list-item href="#">
    <span mat-line><span class="mat-h4">Chat</span></span>
    <img matListAvatar src="https://cdn-icons-png.flaticon.com/512/1653/1653630.png" alt="">
  </a>
</mat-nav-list>
