<div class="row">

  <div class="col-lg-4 col-md-12 mb-2">
    <mat-card class="d-flex align-items-center">
      <img class="icon me-3" src="https://cdn-icons-png.flaticon.com/512/7235/7235503.png" alt="">
      <div class="d-flex flex-column">
        <div class="h6 mb-0">New Tasks</div>
        <div>0</div>
      </div>
    </mat-card>
  </div>

  <div class="col-lg-4 col-md-12 mb-2">
    <mat-card class="d-flex align-items-center">
      <img class="icon me-3"
        src="https://cdn-icons.flaticon.com/png/512/2403/premium/2403711.png?token=exp=1653926256~hmac=4fadf07a5fd2240f5f46fac4928db265"
        alt="">
      <div class="d-flex flex-column">
        <div class="h6 mb-0">Near Deadline</div>
        <div>0</div>
      </div>
    </mat-card>
  </div>

  <div class="col-lg-4 col-md-12 mb-2">
    <mat-card class="d-flex align-items-center">
      <img class="icon me-3" src="https://cdn-icons-png.flaticon.com/512/190/190411.png" alt="">
      <div class="d-flex flex-column">
        <div class="h6 mb-0">Done</div>
        <div>0</div>
      </div>
    </mat-card>
  </div>
</div>
